# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# Generated JS/DTS from Vue/TS files
*.vue.js
*.vue.d.ts
src/**/*.js
src/**/*.d.ts
uno.config.js
uno.config.d.ts
vite.config.js
vite.config.d.ts

# Build assets
public/assets/
